@import "display_layer";

a{
	&:hover{cursor:pointer;}
}
.main-nav{
	.icon-nav_burger{
		position:fixed;
		top:40px;
		left:40px;
		font-size:50px;
		color:$red;
		transition:color 0.3s ease-out;
		z-index:99999;

	  

		&:hover{
			color:$lt-gray;
		}
	}
}

