a{
	&:hover{cursor:pointer;}
}
.main-nav{
		position:fixed;
		top:30px;
		left:30px;
		height:50px;
		width:50px;	
	}
video { 
  position: inherit;
  top:0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 800px;
  z-index: -100;
}
