body, html{
	font-family: "proxima-nova";
	font-size:100%;
	font-weight:200;
}
h1{
	font-size:80px;
	font-family: "proxima-nova";
}
p{
	font-family: "proxima-nova";
	font-size:14px;
}
.button{
	position:relative;

}