// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'display_layer';

.header_img{
	width:100%;
	min-height:450px;
	background:#888;
	padding-top:160px;
	padding-bottom:100px;
}

.header_text{
	
	.big_copy{
		font-weight:800;
		letter-spacing:1.8px;
		text-transform:uppercase;
		font-size:60px;
		color:$white;
		margin-bottom:20px;
		padding-left: 30px ;
		text-indent: -30px ;

		@media only screen and (max-width: 40em) {
			font-size:45px;
			text-indent: -20px ;
		}

		&:before,
		&:after { 
		    content: "\0022";
		    color:$red;
		}
	}

	.small_copy{
		font-family:$secondary-font;
		font-style:italic;
		font-weight:800;
		font-size:30px;
		color:$white;
	}
}

.article_content{
	height:auto;

	.author_info{
		.image{
			text-align:center;

			.author_icon{
				margin-top:-40px;
				border: 4px solid #fff;
				border-radius: 150px;
				-webkit-border-radius: 150px;
				-moz-border-radius: 150px;
			}
		}

		.name{
			font-family:$primary-font;
			font-size:11px;
			font-weight:800;
			text-transform:uppercase;
			letter-spacing:0.5px;
			text-align:center;
			margin-bottom:4px;
		}
		.title{
			font-family:$secondary-font;
			font-style:italic;
			font-size:10px;
			color:$gray;
			text-align:center;

		}
	}

	.copy{
		height:auto;
		margin-top:100px;
	}
}

.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.container{
	nav a {
		position: absolute;
		top: 210px;
		display: block;
		outline: none;
		text-align: left;
		z-index: 1000;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	nav a.prev {
		left: 0;
	}

	nav a.next {
		right: 0;
	}

	nav a svg {
		display: block;
		margin: 0 auto;
		padding: 0;
	}

	.nav-circleslide a {
		margin: 0 20px;
	}

	.nav-circleslide .icon-wrap {
		position: relative;
		z-index: 100;
		display: block;
		padding: 15px;
	}

	.nav-circleslide svg.icon {
		fill: #fff;
		-webkit-transition: fill 0.3s;
		transition: fill 0.3s;
	}

	.nav-circleslide div {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		background-color: $lt-gray;
		border-radius: 50%;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0s;
	}

	.nav-circleslide img {
		display: block;
		border-radius: 50%;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}

	.nav-circleslide a.prev img {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.nav-circleslide a.next img {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	.nav-circleslide a:hover div {
		opacity: 1;
		background-color: transparent; /* Trick to hide the visible border of image */
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.1s 0.2s;
	}

	.nav-circleslide a:hover img {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

