// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'display_layer';

.gallery{
	


}

.side_bar_container{
	position:fixed;
	height:100%;
	width:35%;
	background:$white;
	padding-top: 17%;

	h2{
		border-bottom:3px solid $lt-gray;
		padding-bottom:10px;
		margin-bottom:15px;
		

	}

	.input_gallery_search{
		text-align:left;
		border-color:$red;
		height:40px;
		@extend .link_box;
	}
}

.char_container{
	height:auto;
	width:65%;
	background:$red;
}

.arrow{
	position:fixed;
	left:68%;
	bottom:10px;
	width:60px;
	height:60px;
	z-index:99999;


}