// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	#homepage {
	display: none;
	}
	#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
	}
