// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
@import 'display_layer';
 	

#homepage {
	display: none;
}
#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 1);
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
}

.intro{
	.arrow,
	.logo{
		position:absolute;
	  left:0;
	  right:0;
	  margin-left:auto;
	  margin-right:auto;
		z-index:100;
	}
	.logo{
		top:200px;
		width:500px;
		height:500px;
	}
	.arrow{
		top:550px;
		width:75px;
		height:75px;
	}
	.button{
		position:absolute;
		padding:12px 40px 10px 40px;
		width:275px;
		top:395px;
	  left:0;
	  right:0;
	  margin-left:auto;
	  margin-right:auto;
	}
}
video { 
  position: inherit;
  top:0;
  right: 0;
  min-width: 100%;
  min-height: 700px;
  z-index: -100;
}

// Featured Section

.featured{
	margin:75px auto 75px auto;
	width:100%;
	height:auto;
	padding-top:50px;
	padding-bottom:50px;

	.section_header{
		margin-bottom:25px;
	}
}
.featured_copy{
	
}

// Article Section

.article{
	margin:75px auto 75px auto;
	height:auto;

	.title{
	}

	.copy{	
		height:auto;

		p{
			margin-top:30px;
		}
		.author_icon{
			float:left;
			margin-left:3px;
			margin-right:10px;
			margin-bottom:0px;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
		}
		.byline{
			float:right;
			padding-right:40px;
		}
		.article_link{
			margin-top:35px;
		}
	}
}

// Collection Section

.collection_sample{
	position:relative;
	height:auto;
	width:100%;
	margin:150px auto 75px auto;
	background-color:$lt-gray;
	
	.grid_rollover_1{
		top:-75px;
		margin-bottom:-100px;
	}

	.collection_link{
		top:40px;
		@extend .link_box;
		border-color:#fff;
		color:$red;

		&:hover{
		color:$black;
		border-color:$red;
		}
	}
}

// Quote Section

.quote_section{
	
	h2{
		text-align:center;
		line-height:1.2;
		color:$gray;

		&:before,
		&:after { 
		    content: "\0022";
		    color:$red;
		}
	}

	.quote-by{
		margin:10px 10px;
		letter-spacing:1px;
		text-align:center;
		font-weight:800;
		color:$red;
	}
}
