// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
@import 'display_layer';
 	

#homepage {
	display: none;
}
#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 1);
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-position: center;
}

.intro{
	.arrow,
	.logo{
		position:absolute;
	  left:0;
	  right:0;
	  margin-left:auto;
	  margin-right:auto;
		z-index:100;
	}
	.logo{
		top:200px;
		width:500px;
		height:500px;
	}
	.arrow{
		top:550px;
		width:75px;
		height:75px;
	}
	.button{
		position:absolute;
		padding:12px 40px 10px 40px;
		width:275px;
		top:395px;
	  left:0;
	  right:0;
	  margin-left:auto;
	  margin-right:auto;
	}
}
video { 
  position: inherit;
  top:0;
  right: 0;
  min-width: 100%;
  min-height: 700px;
  z-index: -100;
}

// Featured Section

.featured{
	margin:75px auto 75px auto;
	width:100%;
	height:auto;
	padding-top:50px;
	padding-bottom:50px;

	.section_header{
		margin-bottom:25px;
	}
	.featured_section{
		min-height:300px;
		.ft_img_1{
			position: relative;
			background:#555;
			width:45%;
			min-height:300px;
			padding-top:40px;
			float:left;
		@media only screen and (max-width: 40em) {
			width:100%;
		}


			
		}
		.ft_img_2{
			position: relative;
			background:#999;
			width:55%;
			min-height:300px;
			float:right;
		}
		.featured_copy{
			color:$white;
			h2{
				color:$white;
				font-size:40px;
				margin-bottom:10px;

			}
			p{
				margin-bottom:20px;
			}
			.simple_link{
				font-size:11px;
				font-weight:800;
				letter-spacing:1.8px;
				padding-bottom:5px;
				border-bottom:2px solid $white;
				color:$white;
				transition:color 0.3s ease-out;


				&:hover{
					color:$red;
				}
			}
			.post_date{
				font-family:$note-font;
				font-size:14px;
				letter-spacing:1.8px;
				line-height:normal;
			}
		}
	}
}
.featured_copy{
	
}

// Article Section

.article{
	margin:75px auto 75px auto;
	height:auto;

	.title{
	}

	.copy{	
		height:auto;

		p{
			margin-top:30px;
		}
		.author_icon{
			float:left;
			margin-left:3px;
			margin-right:10px;
			margin-bottom:0px;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
		}
		.byline{
			float:right;
			padding-right:40px;
		}
		.article_link{
			margin-top:35px;
		}
	}
}

// Collection Section

.collection_sample{
	position:relative;
	height:auto;
	width:100%;
	margin:150px auto 75px auto;
	background-color:$lt-gray;
	
	.grid_rollover_1{
		top:-75px;
	}

	.collection_link{
		top:40px;
		@extend .link_box;
		border-color:#fff;
		color:$red;

		&:hover{
		color:$black;
		border-color:$red;
		}
	}
}

// Quote Section

.quote_section{
	margin:125px auto 75px auto;
	.grid_rollover_1{
		top:0px;
		margin-bottom:0px;
	}
	
	h2{
		text-align:center;
		line-height:1.2;
		color:$gray;

		&:before,
		&:after { 
		    content: "\0022";
		    color:$red;
		}
	}

	.quote-by{
		margin:10px 10px;
		letter-spacing:1px;
		text-align:center;
		font-weight:800;
		color:$red;
	}
}

// Merch Section

.merch_section{
	margin:125px auto 75px auto;
}

// Subscribe Section
// Reuse on every page

.subscribe_section{
	margin:125px auto 0px auto;
	width:100%;
	height:380px;
	background:url(/images/vwhite.png);

	.container{
		position:relative;
		top:50px;
		background:rgba($red, 0.8);
		height:275px;
		padding:60px 45px 45px 45px;

		h2{	
			color:#fff;

			span{
				font-family:$primary-font;
				font-weight:600;
				padding-left:10px;
				letter-spacing:1.8px;
				border-left:1px solid #fff;
				font-size:13px;
				vertical-align: middle;
			}
		}


		.email_input{
			margin:35px auto 35px auto;

			.input_textforum{
				border:solid 3px $white;
				background:none;
				color:$white;
				height:40px;
			}

			::-webkit-input-placeholder {
			   color: rgba($white,0.85);
			}

			:-moz-placeholder { /* Firefox 18- */
			   color: rgba($white,0.85);  
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba($white,0.85);  
			}

			:-ms-input-placeholder {  
			   color: rgba($white,0.85);  
			}

			.input_button{
				text-transform:uppercase;
				font-size:13px;
				font-weight:600;
				letter-spacing:1px;
				border:none;
				background:$white;
				color:$black;
				height:40px;

				&:hover{
					background:none;
					border-top:solid 3px $white;
					border-right:solid 3px $white;
					border-bottom:solid 3px $white;
					color:$white;
				}
			}
		}
		.social_line{
			h5{
				color:$white;
				font-size:13px;
				font-weight:600;
				float:right;

			}
		}
	}
}

.footer{
	position:relative;
	width:100%;
	height:50px;
	background:$black;
	padding:45px 0 0 0;

	a{
		font-size:11px;
		text-transform:uppercase;
		letter-spacing:1.2px;
		color:$white;
		transition:color 0.3s ease-out;
		padding:0 5px 0 5px;
		vertical-align: middle;

		&:hover{
			color:$red;
		}
	}
	span{
		color:$white;
	}
}
